<% if not @users.map{ |u| u.session_id }.include? session.id.to_s %>
  <%= form_with data: { reflex: "submit->DraftReflex#newUser" } do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <%= form.submit %>
  <% end %>
<% end %>

<div class="container">

  <%# TODO(emilia): if round hasn't started %>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-success btn-lg btn-block btn-start-round">Start Round</button>
  </div>
  <%# else if its the players turn, show `it's your turn` %>
  <%# else show> `it's ___ turn` %>

  <div class="row">
    <h3>Available</h3>
  </div>

  <div class="row justify-content-center">
    <% for ticker in @all_tickers %>
      <div class="card bg-primary">
        <div class="card-body">
          <p class="card-title"><%= ticker %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h3>Drafted</h3>
  </div>

  <div class="row">
    <table class="table table-hover table-drafted">
      <thead class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Stock</th>
        <th scope="col">User</th>
      </thead>

      <tbody>
        <% for drafts in @drafted_tickers %>
          <tr>
            <%# TODO(emilia): change the number to 
                a) draft has a property with the pick number or 
                b) drafted tickers stored in order, print the loop number %>
            <td>1.</td>
            <td><%= drafts.symbol %></td>
            <td><%= drafts.user_id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  

</div>

<% for user in @users %>
  <div><%= user.display_name %></div>
<% end %>