
<div class="container">

  <% if not @users.map{ |u| u.session_id }.include? session.id.to_s %>
    <div class="row justify-content-center">
      <h2>Join <%=@round.round_id%> </h2>
    </div>

    <div class="row justify-content-center">
      <%= form_with data: { reflex: "submit->DraftReflex#new_user" } do |form| %>
        <%= form.text_field :name, placeholder: "name"%>
        <button type="submit" class="btn btn-primary">Join</button>
      <% end %>
    </div>

  <% else%>
    <%# TODO(emilia): if round hasn't started %>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-success btn-lg btn-block btn-start-round">Start Round</button>
    </div>
    <%# TODO(emilia): else if its the players turn, show `it's your turn` %>
    <%#  TODO(emilia): else show> `it's ___ turn` %>
  <% end %>

  <%= render "stock_selection", :drafted_tickers => @drafted_tickers, :all_tickers => @all_tickers, :round => @round, :users => @users %>

</div>

<% for user in @users %>
  <div><%= user.display_name %></div>
<% end %>