<div class="container">
  <div class="row justify-content-center">
    <h1 onclick="window.location.search =''">Dashboard: <% @round.round_id %></h1>
  </div>
  <div class="row">
    <div class="col col-8">
      <%= line_chart @chart_data, min: @mins.min, max: @maxes.max, height: "600px", library: {pointRadius: 0} %>
    </div>
    <div class="col col-4">
      <table class="table table-hover">
        <thead class="table-primary">
          <th scope="col">Place</th>
          <th scope="col">User</th>
          <th scope="col">Portfolio Value</th>
        </thead>

        <tbody>
          <% @portfolios_by_user.sort_by{|u, p| p.values.last}.each_with_index do |user_and_portfolio, index| %>
            <tr onclick="window.location.search += '&portfolio=<%= user_and_portfolio[0].user_id %>'">
              <td><%= index + 1 %></td>
              <td><%= user_and_portfolio[0].display_name %></td>
              <td><%= user_and_portfolio[1].values.last %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
